@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
div#main {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
#chinh{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mon {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 15vh;
    width: 150px;
    line-height: 7vh;
    background: white;
    /* backdrop-filter: brightness(5) blur(10px); */
    transition: .2s;
}
.mon_ma {
    font-weight: bold;
}
.icon{
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 3vh;
    height: 3vh;
    width: 3vh;
    background-color: white;
    top: 6vh;
    cursor: pointer;
}
#icon1{
    left: -1.5vh;
}
#icon2{
    right: -1.5vh;
}
#tquyet{
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sau{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.an{
    display: none;
}
.title {
    text-align: center;
    color: white;
}
@media screen and (max-width: 650px){
    #chinh{
        top: 10%;
    }
}